.app{
margin-top: 5rem;
 display: flex;
 flex-direction: column;
 gap: 1rem;
 align-items: center;
 justify-content: center;
}
.header{
    color:white;
    font-size: 2rem;
    
}

.card_container{
    display: flex;
    flex-wrap: wrap;
    max-width: 100rem;
    max-height: 80rem;
    gap: 2rem;
    padding: 2rem;
    background: linear-gradient(to right, #c3fcff, #00a5f8);

    overflow:auto;
}
.card{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 10px;
    height: 12rem;
    width: 8rem;
    border-radius: 1rem;
    overflow: hidden;
    background: linear-gradient(to right, #92df00, #4ea13f);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.name{
    font-size: 1rem;
    text-align: center;
    text-transform: capitalize;
    color: white;
    

}
.pokemon_image{
    width: auto;
    height: auto;
}
@media screen and (max-width: 1650px) {
    .card_container{
        max-width: 50rem;
      
    }
}
@media screen and (max-width: 1330px) {
    .card_container{
        max-width: 40rem;
       
    }
}
@media screen and (max-height: 1550px) {
    .card_container{
        
        max-height:60rem ;
    }
}
@media screen and (max-height: 1250px) {
    .card_container{
        
        max-height:50rem ;
    }
}
@media screen and (max-height: 1050px) {
    .card_container{
        
        max-height:40rem ;
    }
}
@media screen and (max-height: 855px) {
    .card_container{
        
        max-height:30rem ;
    }
}
@media screen and (max-height: 700px) {
    .card_container{
        
        max-height:20rem ;
    }
}